<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Dev 서버 게시용. 운영과 완전히 분리된 설치 경로/제품명으로 배포해서
         같은 PC에 Dev/Prod 버전을 동시에 설치해서 테스트할 수 있게 한다. -->
    <PublishUrl>http://192.168.160.10:8093/</PublishUrl>
    <InstallUrl>http://192.168.160.10:8093/</InstallUrl>
    <Configuration>Debug</Configuration>
    <ProductName>WYN LAB (개발서버)</ProductName>
    <PublisherName>[회사명]</PublisherName>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <Install>true</Install>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <MapFileExtensions>false</MapFileExtensions>
  </PropertyGroup>
</Project>
