<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishUrl>http://115.23.220.115:8093/</PublishUrl>
    <InstallUrl>http://115.23.220.115:8093/</InstallUrl>
    <Configuration>Release</Configuration>
    <ProductName>WYN LAB</ProductName>
    <PublisherName>[회사명]</PublisherName>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <Install>true</Install>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <MapFileExtensions>false</MapFileExtensions>
  </PropertyGroup>
</Project>
